*,
::before,
::after {
  padding:0;
  margin:0;
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}


:root {
  --primary-color: #D4AF37; 
  --secondary-color: #8C6239;
  --hover-efect:#C55A11;
  --background-color: #F8F3E6;
  --card-color: #FFF3E0; 
  --text-color:#333333;
  --text2-color:#800020;
  --price-color:#A37F17;
  --border-color: #C7A017;
  --footer-color: #4B3A2A;
  --footer-text: #E0D5C3; 
  --accent-color: #D9603B;
}
html{
  margin: 0;
  overflow-x: hidden;
  font-family: Lato, sans-serif;
  
}

@media (max-width:600px){
  #header{
    height: 13vh !important;

  }
  #nav-bar ul {
    display: grid !important;
    justify-content: center !important; 
    align-items:center !important;
    height: 100% !important;
    
  }
  #nav-bar ul li {
    padding: 4px;
    font-size: 14px !important;
  }
}
@media (max-width: 760px) {
  
  #pricing {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .price{

    box-sizing: border-box;
    display:block;
    width:60% !important;
    height: 500px;
    margin: 20px 0 !important;
  }
  .price ul {
    margin: 0px;
    padding: 5px;
    height: 500px;
   
  }
}


#header{
  z-index: 10;
  background-color: var(--primary-color);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 11vh;
}


#header-img{
  margin-left: 2%;
  width:300px;
  display: flex;
  float:left;
}


.nav-link{
  color:white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}


#nav-bar{
  padding-right: 15px;
  width: 90%;
  max-width: 600px;
  height: 100%;
  
}

#nav-bar ul {
  display: flex;
  justify-content: space-evenly;  
  flex-wrap: wrap;
  align-items:center;
  height: 100%;
}


ul li{
  
  list-style: none;
  display: block;
}


#main{ 
 margin: 0;
 padding-top: 16vh;
 background-color:var(--background-color);
}

#tilte{
  color:var(--text-color);
}
#form{
align-items: center;
text-align: center;

}
.email{
  margin: 22px 0 10px 0 ;
  font-size: 16px;
  width:250px;
  height:40px;
  padding-left: 10px;
  border:0.1px solid var(--text-color)
}
#submit:hover{
  background-color:var(--hover-efect);
  border:1px solid #800020;
  color:#F8F1E7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
#submit {
  cursor: pointer;
  display: block;
  margin:15px auto 0px auto;
  height: 40px;
  width: 150px;
  color:white;
  background-color:var(--primary-color);
  border: none;
  border-radius:3px;
  font-weight:800;
  font-size: 15px;
}

#features{
  width:90vw;
  margin: 90px auto 50px auto;
}
#features div {
  margin-bottom: 80px;
}

i {
  float: left;
  color:var(--accent-color);
}

.feature{
  margin-left: 120px;  
}

#video{
  width:500px;
  height:300px;
  display: flex;
  margin: auto;
}

/* -----------price section------------- */

#pricing {
  display: flex;
  justify-content: space-between; /* Spread items out horizontally */
  max-width: 1000px;
  margin: 50px auto;
}
.price:hover{
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0 ,0.2);
  transform: scale(1.02);
}
.price {
  position: relative;
  z-index: 1;
  margin:0 10px 0 10px;
  width: 30%;
  height: 380px;
  text-align: center;
  background-color:var(--background-color);
 
  border: 6px solid var(--primary-color);
  border-radius: 11px;
}


.price h2{
  background-color:var(--primary-color);
  color:var(--text2-color);
 
  height: 50px;
  display: grid;
  place-items: center; 
  margin-bottom: 20px;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.price h3{
  color:var(--price-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  margin-bottom: 20px;
}
.price ul li {
  margin-bottom: 15px;
  
}
.price ul {
  margin: 0px;
  padding: 5px;
  height: 225px;
 
}
.select:hover{
  font-size: 16.1px;
}
.select{
  cursor: pointer;
  display: block;
  margin:0px auto 0px auto;
  height: 35px;
  width: 140px;
  color:var(--background-color);
  background-color:var(--primary-color);
  border: none;
  border-radius:5px;
  font-weight: 700;
  font-size: 16px;
  
}

footer{
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0 ,0.2);
  display: flex;
  justify-content:space-between;
  margin-top: 15px;
  width:100vw;
  height:90px;
  align-items: center;
  background-color:var(--text2-color);
 

}
footer ul {
  display: flex;
  justify-content: space-evenly; 
  width: 300px;
  text-align: center;
  align-items: center;
}
footer div ul li a {
  text-decoration: none;
  color:var(--primary-color);
}
footer div  p {
  margin-top: 7px ;
  color:var(--background-color);

}